<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
     <title>Document</title>
</head>
<body>
    <a class="a" href="/read">User Data</a>
    <h2 style="color: white; margin: 10px;">Create User</h2>
    <div class="container">
        <form action="/create" method="post">
            <input class="inputs"  type="text" placeholder="NAME"  name="name" >
            <input class="inputs" type="text" placeholder="EMAIL" name="email" >
            <input class="inputs" type="text" placeholder="IMG URL" name="image" >
            <input class="btn" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>